option_settings:
    aws:autoscaling:asg:
        MinSize: '2'
        MaxSize: '4'
        Cooldown: 600
    aws:ec2:instances:
        EnableSpot: false
        InstanceTypes: "t2.micro, t3.micro"        
    aws:autoscaling:launchconfiguration:
        EC2KeyName: nds-key-pair
        SecurityGroups: sg-030290b5ee039b722
        RootVolumeType: gp3
        RootVolumeSize: 8
        RootVolumeIOPS: 3000
    aws:autoscaling:trigger:
        MeasureName: CPUUtilization
        Unit: Percent
        LowerThreshold: 20
        UpperThreshold: 60
        LowerBreachScaleIncrement: -1
        UpperBreachScaleIncrement: 1
    aws:elbv2:loadbalancer:
        SecurityGroups: sg-030290b5ee039b722
    aws:ec2:vpc:
        VPCId: "vpc-0a878c5dc4b348897"
        Subnets: "subnet-0c31aacfbfdb624ce,subnet-0af4fb2f4d70012cc"
        ELBSubnets: "subnet-07613168517418534,subnet-01c6eb906cfbfcc03"
        AssociatePublicIpAddress: true
    aws:elasticbeanstalk:command:
        DeploymentPolicy: Rolling
