#Resources:
#  AWSEBAutoScalingGroup:
#    Type: "AWS::AutoScaling::AutoScalingGroup"
#    Properties:
#      HealthCheckType: ELB
#      HealthCheckGracePeriod: 300
#option_settings:
#  - namespace:  aws:elasticbeanstalk:application
#    option_name:  Application Healthcheck URL
#    value:  /health

option_settings:
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /ok/
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '80'
    Protocol: HTTP