option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mypjt.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: mypjt.wsgi:application
    NumProcesses: 3
    NumThreads: 20
packages:
  yum:
    python3-devel: ''
    gcc: ''
    mariadb-devel: ''
container_commands:
  00_test_output:
    command: "echo 'migrate.....'"
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true

